<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TelerikUI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Gen Search
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GenWasteClasses">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gen Waste Classes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GeneratorID">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> GeneratorID
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TelerikPractice">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Telerik Practice
            </NavLink>
        </div>

        

        GeneratorID
    </nav>
</div>

