@page "/GenWasteClasses"
@inject SerOHRDb serOHRDb
@using System.Collections.Generic


<h3>Find Generator by Waste Num</h3>

<input type="number" @bind="inputWasteNum" placeholder="Enter Waste Number" />
<button @onclick="FetchGenerator">Get Generator</button>

@if (generatorWasteClasses != null)
{

    <OHR.RazorComponents.CompGeneratorWasteClasses GeneratorWasteClasses="generatorWasteClasses" />
}
else if (isFetching)
{
    <p>Loading...</p>
}
else if (hasError)
{
    <p>Error fetching generator. Please try again.</p>
}

@code {
    private int inputWasteNum;
    private List<ModvGeneratorWasteClass> generatorWasteClasses;
    private bool isFetching = false;
    private bool hasError = false;

    private async Task FetchGenerator()
    {
        isFetching = true;
        hasError = false;
        generatorWasteClasses = null;

        try
        {
            generatorWasteClasses = await serOHRDb.GetGeneratorWasteClassesAsync(inputWasteNum);
        }
        catch (Exception)
        {
            hasError = true;
        }
        finally
        {
            isFetching = false;
        }
    }
}
